/* google fonts - quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* variables for easy styling */
:root {
    --header-height: 3.5rem;
    --white: #ece5e5;
    --text-color: #d9d4db;
    --dark-color-light: #291f1f;
    --white-color-light:#636161 ;
    --gradientX: linear-gradient(90deg, #000, #646E68, #000) ;
    --gradientY: linear-gradient(0, #000, #646E68, #000);

    --body-font: 'Quicksand', sans-serif;
    --normal-font-size: .95rem;
    --small-font-size: .8rem;
    --font-medium: 600;
    --font-bold: 700;    
    --z-tooltip: 20;
    --z-fixed: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* media queries and break-points */
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .88rem;
    }
}

/* layout */
.container {
    margin-inline: 1.5rem;
}

.bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;

}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-color-light);
    backdrop-filter: blur(1.25em);
    -webkit-backdrop-filter: blur(1.25em);
    z-index: var(--z-fixed);
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.0625em;
    background: var(--gradientX);
}

.header-container {
    height: var(--header-height) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-toggle {
    font-size: 1.25rem;
    color: var(--white);
    cursor: pointer;
}

.header-logo {
    width: 12rem;
}

.header-logo img {
    filter: brightness(50);
    margin-left: 2rem;
}


/* sidebar - show sidebar, active link */
.sidebar {
    position: fixed;
    left: -100%;
    top: var(--header-height);
    width: 18.25rem;
    height: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--dark-color-light);
    backdrop-filter: blur(1rem);
    --webkit-backdrop-filter: blur(1rem);
    z-index: var(--z-fixed);
    transition: left .5s;
}

.sidebar::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0.125rem;
    height: 100%;
    background: var(--gradientY);
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-bottom: 3rem;
    height: 100%;
}

.sidebar__content {
    position: relative;
    overflow: auto;
    padding-top: 1rem;
}

.sidebar__content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.0625em;
    background: var(--gradientX);
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.sidebar__title {
    text-transform: capitalize;
    display: none;
}

.sidebar__link-float {
    display: none;
}

.sidebar__link {
    color: var(--text-color);
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1.35rem;
    margin: 0.25rem 0 0.25rem 0;
    padding: .625rem;
    border-radius: .25rem;
    transition: background .3s;
}

.sidebar__link i {
    color: var(--white);
    opacity: .75;
    font-size: 1.25rem;
}

.siderbar__link-name {
    font-weight: var(--font-medium);
    transition: color .5s ease-in;
}

.sidebar__link:hover{
    background: var(--white-color-light);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    color: var(--white);
    font-weight: var(--font-medium);
}

.sidebar__profile {
    display: flex;
    /* flex-direction: column;  */
    align-items: center;
    margin-top: 7.5rem;
    column-gap: .5rem;
}

.sidebar__profile img {
    width: 3.5rem;
    border: .125rem solid var(--white);
    border-radius: 50%;
}

.sidebar__detail {
    font-size: var(--normal-font-size);
    color: var(--white);
    margin-bottom: 0.25rem;
    text-align: center;
}
.sidebar__email {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.sidebar__profile i {
    color: var(--white);
    font-size: 1.5rem;
    margin-left: auto;
    cursor: pointer;
}

